
/* Eléments principaux de la page */
html
{
    font-size: 16px;
}

*{
    margin:0px;
    padding:0px;
    }

body
{
    font-family: Roboto,sans-serif;
    color: #181818;
}

a
{
    text-decoration: none;
    color: #181818;
}

ul
{
    list-style-type: none;
}

#bloc_page
{
    width: 100%;
    height: auto;
    margin: auto;
}

section h1, footer h1
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
    font-weight: Shrikland;
}

h2
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
    font-weight: 12px;
}

p
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 12px; 
}

.bloc_header, .header
{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 10; 
    position: absolute;
}

/* loading page */

.loading-containeur  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 25; 
    background-image: linear-gradient(#FF79DA 10%, #9356DC 95%);
    top: 0px;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    animation-name: loader ease-in-out 3;
    animation-duration: 2500ms;
    animation-fill-mode: both;
    animation-delay: 300ms;   
    pointer-events: none ;
}

@keyframes loading-containeur {
	0% {
       opacity: 1;
      }
     
      
      100% {
        opacity: 0;
      }
  }



.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 25px;
    z-index: 1;
    border: 4px solid #181818;
    animation: loader 2s infinite ease;
    animation-duration: 2500ms;
    overflow: hidden;
}

@keyframes loader {
	0% {
        transform: rotate(0deg);
      }
      
      25% {
        transform: rotate(180deg);
      }
      
      50% {
        transform: rotate(180deg);
      }
      
      75% {
        transform: rotate(360deg);
      }
      
      100% {
        transform: rotate(360deg);
      }
  }

/* Header */

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_full
{
    border-bottom: 2px solid rgb(190, 189, 189);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.header_logo
{
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Shrikhand,"cursive";
    font-size: xx-large;
    
 }


.search_city
{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(224, 221, 221);    
    padding-top: 20px;
    padding-bottom: 20px;
}

.search_city i
{
    padding-right: 15px;
}

.search_city iframe
{
    color: black;
}


.book_menu 
{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 243, 243) ;
}

#menu
{
   width: 250px;
   font-size: x-large; 
   line-height: 35px;
   text-align: center;
}

#menu_choice
{
    width: 300px;
    line-height: 20px;
    text-align: center;
    color: rgb(94, 93, 93);
}


.search_restaurant
{
    color: white;  
    background-clip: padding-box;
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    height: 50px;
    width: 250px;
    font-size: larger;
    font-family: Roboto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(180, 175, 175);
    border: 0px;
    opacity: 1;
    transform: scale (1);
    transition-property: transform;
    transition-duration: 300ms;
}

.search_restaurant:hover {
    box-shadow: 3px 3px 3px rgb(75, 75, 75);
    transform: scale(1.1);
    opacity: 0.7;
}

.search_restaurant:active {
    box-shadow: 3px 3px 3px rgb(75, 75, 75);
    transform: scale(1.15);
    transition-duration: 300ms;
}

/* Nav */

.howitwork_title
{
    margin-top: 30px;
    margin-left: 15px;

}

.howitwork
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.howitwork_menu
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.howitwork .first_choice
{
    display: flex;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: 65px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(235, 231, 231); 
}

.howitwork .first_choice:hover
{
    background-color:#e8dbf8;
}

.howitwork .second_choice
{
    display: flex;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: 65px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(235, 231, 231);
}

.howitwork .second_choice:hover
{
    background-color:#e8dbf8;
}

.howitwork .third_choice
{
    display: flex;
    background-color:  #f6f6f6;
    border-radius: 20px;
    height: 65px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(235, 231, 231);
}

.howitwork .third_choice:hover
{
    background-color:#e8dbf8;
}
.choice_menu
{
    justify-items: center;
}

.number
{
    display: flex;
    position: relative;
    top: 0px; right: 10px;
}

.cercle 
{
    background-color: #9356DC;
    border: 1.5px solid #f2f2f2;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.cercle_number 
{
    color: white;
    position: absolute;
    font-size: small;
    padding-left: 8px;
    padding-top: 4.5px;
    margin-right: 20px;
}

.first_choice i
{
    padding-right: 15px;
    color: gray;
}

.second_choice i
{
    padding-right: 15px;
    color: gray;
}

.third_choice i
{
    padding-right: 15px;
    color: gray;
}

/* Main */
article 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 243, 243) ;
}

.title_restaurants-main
{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.title_restaurant
{
    font-weight: bold;
}

.place_restaurant
{
    font-weight: 300;
}

.restaurants
{
    width: 95%;
    align-items: center;
}

.restaurants img
{
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.new
{
    position: absolute; 
    background-color: #99e2d0;
    color: green;
    display: flex;
    border-radius: 0.2rem;
    top: 15px;
    right: 15px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
}

.picture_restaurants
{
    border-radius: 1rem 1rem 0 0;
    position: relative;
    overflow: hidden;
    height: 180px;
}

.border_restaurant 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 1rem 1rem;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.info_restaurant
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    line-height: 25px;
    padding-left: 5px;
}

.first_restaurant
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    margin-left: 20px;
}

.second_restaurant
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    margin-left: 20px;
}

.third_restaurant
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    margin-left: 20px;
}

.fourth_restaurant
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    margin-left: 20px;
    opacity: 1;        
}

.heart
{
    color: black;
    padding-right: 15px;
    padding-top: 15px;
    font-size: 24px;
    background-clip: text;
    cursor: pointer;
   }

.full_heart
{
    display: none;   
    transition: all .3s ease;
}

.heart:hover .border_heart
{
    display: none;
}

.heart:hover .full_heart 
{
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-color: #FF79DA;
    background-image: linear-gradient(#FF79DA 10%, #9356DC 95%);
    transition: all .3s ease;
}
/* transition avec remplissage progressif ne s'applique pas*/


/* Footer */
footer 
{
    background-color: rgb(56, 56, 56);
    color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.footer_logo
{
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    font-family: Shrikhand,"cursive";
    font-size: larger;

}

.footer_text
{
    color: white; 
    margin-left: 20px;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.footer_restaurant
{
    display: flex;
    flex-direction: row;
}

.icon_footer1
{
    padding-right: 10px;
}

.icon_footer2
{
    padding-right: 8px;
    /*line-height: 0px;*/
}

footer a 
{
    color: white;
}

footer i,
{
    color: white;
    font-size: 1rem;
}

.footer_partners
{
    display: flex;
    flex-direction: row;
}

/* sur les écrans, quand la largeur dépasse celle d'un iphone */
@media screen and (min-width: 576px) {
   
    .header_logo {
        margin-left: 300px;
    }

    .howitwork_title {
        margin-left: 45px;
    }

    .howitwork .first_choice {
        width: 65%;
        margin-left: 100px;
    }

    .howitwork .second_choice {
        width: 65%;
        margin-left: 100px;
    }

    .howitwork .third_choice {
        width: 65%;
        margin-left: 100px;
    }    

    .first_restaurant {
        width: 95%;
    }

    .second_restaurant {
        width: 95%;
    }
    
    .third_restaurant {
        width: 95%;
    }

    .fourth_restaurant {
        width: 95%;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
    }

    .footer_logo {
        margin-top: 8px;
        margin-left: 30px;
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

}    

/* sur les écrans, quand la largeur dépasse celle d'une tablette */
@media screen and (min-width: 780px) {
    #bloc_page {
        width: 70%;
        height: auto;
        margin: auto;
    }  

    .border_header {
        display: flex;
        flex-direction: row;
    }

    .header_logo {
        margin-left: 170px;
    }

    .header_full {
        padding-left: 50px;
        padding-right: 20px;
        box-shadow: none;
    }

    .search_city {
        border-bottom: 2px solid rgb(190, 189, 189);
        background-color: white;
        margin: 0px;
        padding: 0px;
        align-self: auto;
        padding-top: 30px;
    }

    .book_menu {
        height: 250px;
    }

    #menu {
        width: auto;
    }

    #menu_choice {
        width: auto;
    }

    .howitwork {
        margin-left: 0px;
    }

    .howitwork_menu {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0px;
    }

    .howitwork_title {
        display: flex;
        justify-content: center;
    }

    .howitwork .first_choice {
        height: 150px;
        width: 250px;
        margin-left: 0px;
    }

    .howitwork .second_choice {
        height: 150px;
        width: 250px;
        margin-left: 0px;
    }

    .howitwork .third_choice {
        height: 150px;
        width: 250px;
        margin-left: 0px;
    }

    .number {
        top: -70px;
        right: -120px;
    }
    
    .show_offer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title_restaurants-main {
        display: flex;
        justify-content: center;
    }
    
    .first_restaurant {
        width: 320px;
        margin-left: 30px;
    }

    .second_restaurant {
        width: 320px;
        margin-right: 30px;
    }
    
    .third_restaurant {
        width: 320px;
        margin-left: 30px;
    }

    .fourth_restaurant {
        width: 320px;
        margin-right: 30px;
    }
    
    footer {
        width: 97%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
        padding-left: 25px;       
    }

    .footer_logo {
        margin-top: 8px;
      
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    }

        /* sur les écrans, quand la largeur dépasse celle d'un ordi portable */
@media screen and (min-width: 1400px) {
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
        padding-left: 0;       
    }
}    