/* Eléments principaux de la page */
html
{
    font-size: 16px;
}

*{
    margin:0px;
    padding:0px;
    }

body
{
    font-family: Roboto,sans-serif;
    color: #181818;
    background-color: rgb(245, 243, 243) ;
}

a
{
    text-decoration: none;
    color: #181818;
}

ul
{
    list-style-type: none;
}

#bloc_page
{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(245, 243, 243) ;
}

section h1, footer h1
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
    font-weight: Shrikland;
}

h2
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
    font-weight: 12px;
}

p
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 12px; 
}

.bloc_header, .header
{
    width: 100%;
    height: auto;
    margin: auto;
}

/* Header */

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_full
{
    border-bottom: 2px solid rgb(190, 189, 189);
    box-shadow:#181818;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.header_full a
{
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 15px;
    size: 45px;
}
.header_logo
{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Shrikhand,"cursive";
    font-size: xx-large;
    
 }

/* Main */

.picture_restaurant
{
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.title_restaurant
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 243, 243) ;
    font-style: italic ;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 40px
    
}

.name_restaurant
{
    padding-left: 10px;
    font-family: Shrikhand,"cursive";
}

.heart
{
    color: black;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 24px;
}

.full_heart
{
    display: none;
   
}

.heart:hover .border_heart
{
    display: none;
}

.heart:hover .full_heart 
{
    display: block;
    color: #9356DC;
    
} 

.menu
{
    background-color: rgb(245, 243, 243) ;
}

.starter_name
{
    padding-left: 15px;
}

.line
{
    padding-top: 5px;   
    border-bottom: 2px solid #99E2D0;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.starter_one, .starter_two, .starter_three
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: white;
    line-height: 25px;
    height: 70px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px 0 rgb(216, 209, 209);
}

.green_icon {
    background-color: #99E2D0;
    display: flex;
    width: 100px;
    height: 100%;
    transition-duration: 5s;
}


.green_box {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

i {
    color: white;
    align-items: center;
}

.dish {
    margin-top: 10px;
    display: flex;
    flex-direction: column;    
}

.about_dish
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
}

.main_dish_name
{
    margin-top: 20px;
    padding-left: 15px;
}
.main_dish_one, .main_dish_two, .main_dish_three
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    line-height: 25px;
    height: 70px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px 0 rgb(216, 209, 209);
}

.dessert_name
{
    margin-top: 20px;
    padding-left: 15px;
}
.dessert_one, .dessert_two, .dessert_three
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    line-height: 25px;
    height: 70px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px 0 rgb(216, 209, 209);
}

.description_dish
{
    color: gray;
}

.order
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.order_restaurant
{
    color: white;    
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    height: 50px;
    width: 200px;
    font-size: larger;
    font-family: Roboto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(218, 214, 214);
    border: 0px;
}
/* Footer */
footer 
{
    background-color: rgb(56, 56, 56);
    color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.footer_logo
{
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    font-family: Shrikhand,"cursive";
    font-size: larger;

}

.footer_text
{
    color: white; 
    margin-left: 20px;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.footer_restaurant
{
    display: flex;
    flex-direction: row;
}

.icon_footer1
{
    padding-right: 10px;
}

.icon_footer2
{
    padding-right: 8px;
    /*line-height: 0px;*/
}

footer a 
{
    color: white;
}

footer i,
{
    color: white;
    font-size: 1rem;
}

.footer_partners
{
    display: flex;
    flex-direction: row;
}


/* sur les écrans, quand la largeur dépasse celle d'un iphone */
@media screen and (min-width: 576px) {
   
    .header_logo {
        margin-left: 300px;
    }

    .picture_restaurant {
        width: 100%;
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
    .picture_restaurant img {
        width: 100%;
        height: auto;
    }
    .starter_one, .starter_two, .starter_three {
        width: 95%;
    }
    .main_dish_one, .main_dish_two, .main_dish_three
    {
        width: 95%;
    }
    .dessert_one, .dessert_two, .dessert_three
    {
        width: 95%;
    }
    
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
    }

    .footer_logo {
        margin-top: 8px;
        margin-left: 30px;
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}    

/* sur les écrans, quand la largeur dépasse celle d'une tablette */
@media screen and (min-width: 780px) {
    #bloc_page {
        width: 70%;
        height: auto;
        margin: auto;
        
    }  
    .back_homepage {
        margin-left: 130px;
    }

    .border_header {
        display: flex;
        flex-direction: row;
    }

    .header_full {
        padding-left: 0px;
        padding-right: 20px;
        box-shadow: none;
    }

    .header_logo {
        margin-left: 200px;
    }

    .title_restaurant {
        justify-content: left;
        margin-left: 0px;
        padding-bottom: 10px;
        bottom: 5px;
        font-size: x-large;
        bottom: 40px;
    }

    .name_restaurant {
        margin-right: 55px;
    }
    .heart {
        padding-top: 20px;
    }

    .picture_restaurant {
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    .menu_order {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .starter_one, .starter_two, .starter_three, .starter_fourth {
        width: 300px;
        height: 100px;
    }

    .main_dish_one, .main_dish_two, .main_dish_three {
        width: 300px;
        height: 100px;
    }

    .dessert_one, .dessert_two, .dessert_three {
        width: 300px;
        height: 100px;
    }

    .starter_name, .main_dish_name, .dessert_name {
        padding-left: 55px;
        margin-top: 35px;
    
    }  
    
    .line {
        margin-left: 55px;
    }

    
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
        padding-left: 0px;
       
    }

    .footer_logo {
        margin-top: 8px;
      
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 800px;

    }

}    
