/* Eléments principaux de la page */
html
{
    font-size: 16px;
}

*{
    margin:0px;
    padding:0px;
    }

body
{
    font-family: Roboto,sans-serif;
    color: #181818;
    background-color: rgb(245, 243, 243) ;
}

a
{
    text-decoration: none;
    color: #181818;
}

ul
{
    list-style-type: none;
}

#bloc_page
{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(245, 243, 243) ;
}

section h1, footer h1
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
}

h2
{
    font-family: 'Shrikland', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 13px; 
}

.bloc_header, .header
{
    width: 100%;
    height: auto;
    margin: auto;
}

/* Header */

.header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_full
{
    border-bottom: 2px solid rgb(190, 189, 189);
    box-shadow: 10px 5px 5px black;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.header_full a
{
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 35px;
}
.header_logo
{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Shrikhand,"cursive";
    font-size: xx-large;
    
 }

/* Main */

.picture_restaurant
{
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.title_restaurant
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 243, 243) ;
    font-style: italic ;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 40px
    
}

.title_restaurant h1
{
    padding-left: 10px;
    font-family: Shrikhand,"cursive";
}
.heart
{
    color: black;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 24px;
    background-clip: text;
    cursor: pointer;
}

.full_heart
{
    display: none;
   
}

.heart:hover .border_heart
{
    display: none;
}

.heart:hover .full_heart 
{
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(#FF79DA 10%, #9356DC 95%);
    transition: transform 5s ease-in;
}

.menu
{
    background-color: rgb(245, 243, 243) ;
}

.menu h2 
{
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 15px;
}

.line
{
    padding-top: 5px;   
    border-bottom: 2px solid #99E2D0;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 15px;
}



.dish {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    height: 70px;
    width: 90%;
    padding-left: 10px;
    /* padding-right: 10px; */
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px 0 rgb(216, 209, 209);
}

.name_dish {
    width: 100%;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name_dish h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_dish {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_dish p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.green_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: large;
    overflow: hidden;
}

.green_icon {
    overflow: hidden;
    width: 0;
    transition: all 0.6s ease-in-out;
    background-color: #99E2D0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
}

.dish:hover .green_icon {
    width: 100px;
}

.dish:hover .green_circle {
    color: white;
    transition: transform 1s ease-in;
    transform: rotate(-360deg);
}

.starters {
    animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -o-animation: fadein 0.7s;
}

.dishes {
    animation: fadein 1.3s;
    -moz-animation: fadein 1.3s;
    -webkit-animation: fadein 1.3s;
    -o-animation: fadein 1.3s;
}

.desserts {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}


@keyframes fadein  {
    from {
        opacity: 0;
        transition: 200ms;
        transform:translateY(100px);
    }

    to {
        opacity:1;
        transition: 200ms;
        
    }
}

.order
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.order_restaurant
{
    color: white;    
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    height: 50px;
    width: 200px;
    font-size: larger;
    font-family: Roboto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(180, 175, 175);
    border: 0px;
    opacity: 1;
}

.order_restaurant:hover {
    box-shadow: 4px 5px 5px rgb(75, 75, 75);
    opacity: 0.7;
}

/* Footer */
footer 
{
    background-color: rgb(56, 56, 56);
    color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.footer_logo
{
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    font-family: Shrikhand,"cursive";
    font-size: larger;

}

.footer_text
{
    color: white; 
    margin-left: 20px;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.footer_restaurant
{
    display: flex;
    flex-direction: row;
}

.icon_footer1
{
    padding-right: 10px;
}

.icon_footer2
{
    padding-right: 8px;
}

footer a 
{
    color: white;
}

footer i
{
    color: white;
    font-size: 1rem;
}

.footer_partners
{
    display: flex;
    flex-direction: row;
}


/* sur les écrans, quand la largeur dépasse celle d'un iphone */
@media screen and (min-width: 576px) {
   
    .header_logo {
        margin-left: 280px;
    }

    .picture_restaurant {
        width: 100%;
        height: 300px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
    .picture_restaurant img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .dish {
        width: 95%;
    }
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
    }

    .footer_logo {
        margin-top: 8px;
        margin-left: 30px;
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}    

/* sur les écrans, quand la largeur dépasse celle d'une tablette */
@media screen and (min-width: 770px) {
    #bloc_page {
        width: 70%;
        height: auto;
        margin: auto;        
    }  
    .back_homepage {
        margin-left: 130px;
    }

    .border_header {
        display: flex;
        flex-direction: row;
    }

    .header_full {
        padding-left: 0px;
        padding-right: 20px;
        box-shadow: none;
    }

    .header_logo {
        margin-left: 210px;
    }

    .title_restaurant {
        justify-content: left;
        margin-left: 0px;
        padding-bottom: 10px;
        bottom: 5px;
        font-size: x-large;
        bottom: 40px;
    }

    .title_restaurant h1 {
        margin-right: 55px;
    }

    .heart {
        padding-top: 20px;
    }

    .picture_restaurant {
        width: 100%;
        height: 300px;
        padding-left: 0px;
    }
 
   footer {
        width: 97%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
        padding-left: 25px;       
    }

    .footer_logo {
        margin-top: 8px;
      
    }

    .footer_text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    }

    /* sur les écrans, quand la largeur dépasse celle d'un ordi portable */
@media screen and (min-width: 1400px) {
    .back_homepage {
        margin-left: 130px;
    }

    .header_full {
        padding-left: 0px;
        padding-right: 20px;
        box-shadow: none;
    }

    .header_logo {
        margin-left: 400px;
    }

    .heart {
        padding-top: 20px;
    }

    .picture_restaurant {
        width: 100%;
        height: 500px;
        padding-left: 0px;
    }
    .dish {
        width: 95%;
    }
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 25px;
        padding-left: 0;       
    }
}   